$black:#000;
$neutral-900:#111827;
$neutral-700:#374151;
$neutral-500:#6B7280;
$neutral-300:#D1D5DB;
$neutral-200:#E5E7EB;

$primary-600:#7C3AED;

$secondary-100:#D5FAFC;
$secondary-300:#75E3EA;
$white: #fff;


$small : 375px;
$medium : 768px;