@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

@import "_variables";




* {
    font-family: 'Inter', sans-serif;

}



.bg {
    background: url(/assets/image/bg.png) no-repeat center center;
    width: 100%;
    height: 860px;
    display: block;
    background-size: cover;


    @media screen and (max-width: $medium) {

        background: url(/assets/image/mediumBg.png) no-repeat center;
        height: 1240px;
        background-size: cover;
        margin-bottom: 20px;
    }


    @media screen and (max-width: $small) {

        background: url(/assets/image/smallBg.png);
        height: 1240px;
    }
}

.container {
    margin-left: 112px;
    margin-right: 112px;

    @media screen and (max-width: $medium) {
        margin-left: 40px;
        margin-right: 40px;
    }


    @media screen and (max-width: $small) {
        margin-left: 20px;
        margin-right: 20px;
    }


}

.nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 72px;

    @media screen and(max-width:$medium) {
        margin-bottom: 0;
    }

    &-left {
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            margin-right: 32px;
        }

        .menu {
            ul {
                display: flex;

                @media screen and (max-width: $medium) {
                    display: none;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                    align-items: flex-start;

                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 70px;
                    background-color: $white;

                    box-shadow: 5px 10px 20px $neutral-200;

                    li {
                        display: block;
                        padding: 10px 15px;
                    }
                }


                @media screen and (max-width: $small) {
                    //do Smth
                }

                li {
                    a {
                        color: $neutral-900;
                        font-family: Inter;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        padding: 4px 8px;
                        margin: 8px;


                        @media screen and (max-width: $medium) {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    &-right {
        display: flex;

        .badge {
            display: flex;
            justify-content: space-between;
            width: 282px;
            cursor: pointer;

            @media screen and(max-width:$small) {
                display: none;
            }
        }

        .mobile {
            display: none;

            @media screen and (max-width: $medium) {
                display: flex;

                align-items: center;
                font-size: 30px;
                color: $neutral-900;
                margin-left: 24px;

            }
        }
    }
}

section {

    @media screen and (max-width: $medium) {}

    .flex {
        display: flex;

        @media screen and (max-width: $medium) {
            display: block;
        }

        .content {

            padding-top: 96px;
            margin-right: 32px;

            @media screen and (max-width: $medium) {
                padding: 80px 0;
            }

            .header {

                h1 {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 60px;
                    line-height: 72px;
                    letter-spacing: -0.025em;
                    color: $neutral-900;
                    margin-bottom: 16px;

                    @media screen and (max-width: $medium) {

                        font-size: 48px;
                        line-height: 60px;


                    }

                    @media screen and (max-width: $small) {
                        font-size: 36px;
                        line-height: 45px;
                    }
                }

                p {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 28px;
                    color: $neutral-700;
                    margin-bottom: 32px;

                }
            }

            .buttons {
                display: flex;

                button {
                    padding: 16px 24px;
                    border-radius: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    cursor: pointer;

                }

                .purple {
                    background-color: $primary-600;
                    color: $white;
                    margin-right: 16px;
                }

                .white {
                    background-color: transparent;
                    color: $primary-600;

                    img {
                        margin-right: 8px;
                    }
                }

            }
        }

        .phoneMockup {
            width: 488px;
            height: 640px;

            @media screen and (max-width: $medium) {
                margin: auto auto;
            }
        }
    }

}

.logoClouds {
    padding: 16px 0;

    .logos {
        border-width: 1px 0 1px 0;
        border-style: solid;
        border-color: $neutral-200;
        padding: 25px 0;

        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        @media screen and (max-width: $medium) {
            width: 574px;
        }

        .logo {
            padding: 16px 0;
            width: 120px;

            img {}
        }
    }
}

.features {
    padding: 96px 0;
    margin-bottom: 32px;


    .sectionHeading {

        margin-bottom: 64px;

        .sectionTitle {
            h2 {
                font-weight: bold;
                font-size: 48px;
                line-height: 60px;
                color: $neutral-900;
                text-align: center;
                letter-spacing: -0.025em;
                order: 0;
                align-self: stretch;
                flex-grow: 0;
                margin: 8px 0px;

                @media screen and (max-width: $medium) {
                    font-size: 36px;
                    line-height: 45px;


                }


            }

        }

        .description {
            p {
                font-weight: normal;
                font-size: 18px;
                text-align: center;
                margin: 8px 0px;
                padding: 0 108px;
                color: $neutral-900;

                @media screen and (max-width: $medium) {
                    padding: 0;


                }

            }
        }
    }

    .featureItems {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;


        .featureItem {
            width: 360px;
            margin-bottom: 64px;

            @media screen and (max-width: $medium) {
                width: 300px;


            }

        }

        .featureIcon {
            margin-bottom: 24px;
            text-align: center;
        }

        .featureContent {
            padding: 16px 0;

            &Headline {
                h3 {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 30px;
                    line-height: 40px;
                    color: $neutral-900;
                    margin-bottom: 8px;
                    text-align: center;

                    @media screen and (max-width: $medium) {
                        font-size: 24px;
                        line-height: 32px;


                    }
                }
            }

            &Description {
                p {

                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    color: $neutral-700;

                }
            }
        }
    }
}